*.pyc
.DS_Store
deploy/.vagrant
.vagrant
*.pid
django_deployment_env/*
*\#
*~
*#
aws.cfg
fab_hosts/*
*.sublime-workspace
chef_files/dep_cookbooks/*
chef_files/cookbooks/*
chef_files/hold_cookbooks/*
chef_files/data_bag_key
venv
hold_chef_files/*
settings.json
*.lock
.#*
